.collection {
  margin-bottom: 6rem;
}

.title {
  padding-bottom: 3em;
  text-align: center;
  border-bottom: 1px solid #000;
}

.productsItems {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}
