/* variables */

:root {
  --container-width: 1200px;
  --container-inline-padding: 55px;
}

/* endvariables */

body {
  margin: 0;
  padding: 0;
  font-family: 'Comic Sans MS', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea,
select {
  font-family: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

button {
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
}

input::-ms-clear {
  display: none;
}

nav,
footer,
header,
aside {
  display: block;
}

.container {
  max-width: var(--container-width);
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding-inline: var(--container-inline-padding);
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
  text-decoration: none;
  padding: 1px;
}

/* === */

.customLink {
  position: relative;
}

.customLink::before {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #000;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.customLink:hover::before,
.customLink:focus::before {
  transform: scaleX(1);
}

/* @supports selecto(: focus-visible) {
  .customLink:focus::before {
    transform: scaleX(0);
  }

  .customLink:focus-visible::before {
    transform: scaleX(1);
  }
} */

/* === */
