.collection {
  margin-bottom: 6rem;
}

.title {
  padding-bottom: 3em;
  text-align: center;
  border-bottom: 1px solid #000;
}

.productsList {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 350px));
  justify-content: center;
}
