.collections {
  margin-bottom: 6rem;
}

.title {
  text-align: center;
  margin-bottom: 1rem;
}

.items {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 500px));
  justify-content: center;
}
