.header {
  border-bottom: 1px solid #000;
  margin-bottom: 3rem;
}

.container {
  padding-inline: var(--container-inline-padding);
}

.inner {
  padding-block: 1.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
